
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="static/img/favicon.jpg" type="image/x-icon">
    <title>Eletromercio</title>
</head>

<body>
    
    <h1>Bem-vindo ao Eletromercio</h1>
    <p>Esta é a página inicial do nosso site.</p>
    <p>Você pode navegar para outras seções do site usando o menu acima.</p>
    <p>Se precisar de ajuda, entre em contato conosco!</p>
    
</body>

</html>